* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/*font-family: 'Bebas Neue', cursive;*/
	/*font-family: 'Lobster', cursive;*/
	/*font-family: 'Roboto', sans-serif;*/
	font-family: 'Roboto Mono', monospace;
	font-family: 'Montserrat', sans-serif;
}

html {scroll-behavior: smooth;}

body, #contacts-card {background-color: #f8efd4;}

#about-card, #projects-card {background-color: #edc988;}

#navbar-column {
	background-color: #d7385e;
	padding-top: 40px;
	padding-bottom: 40px;
	box-shadow: 10px 15px 5px #132743;
}

h1 {
	font-family: 'Lobster', cursive;
	font-size: 50px;
	text-shadow: 10px 10px 5px #132743;
	color: #f8efd4;
}

.html-columns {margin-top: 40px;}

.html-cards {border: none;}

#name-anchor {
	font-family: 'Lobster', cursive;
	font-size: 40px;
	color: black;
	text-shadow: 8px 8px 5px grey;
}

#image-card {
	background-image: url("../images/image001.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 500px;
	border: none;
	border-radius: 20px;
	box-shadow: 15px 15px 5px #132743;
}

#about-card {
	height: 500px;
	border: 5px solid #132743;
	border-radius: 20px;
}

#projects-card {
	height: 500px;
	border: 5px solid #132743;
	border-radius: 20px;
}

h2 {
	font-family: 'Lobster', cursive;
	font-size: 50px;
	margin-top: 10px;
	margin-left: 15px;
	text-shadow: 5px 5px 5px grey;
}

p {text-align: center;}

.list-1 {margin-left: 70px;}

.list-2 {margin-left: 15px;}

#capstone1 {
	background-image: url("../images/capstone_1.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 110px;
	border: none;
	box-shadow: 5px 5px 5px #132743;
	margin-top: 20px
}
#capstone2 {
	background-image: url("../images/capstone_2.jpg");
	background-position: center top;
	background-repeat: no-repeat;
	background-size: cover;
	height: 110px;
	border: none;
	box-shadow: 5px 5px 5px #132743;
	margin-top: 20px
}
#capstone3 {
	background-image: url("../images/capstone_3.jpg");
	background-position: center top;
	background-repeat: no-repeat;
	background-size: cover;
	height: 110px;
	border: none;
	box-shadow: 5px 5px 5px #132743;
	margin-top: 20px
}

.contact-headers {
	font-size: 20px;
	text-align: center;
	margin-left: 20px;
	margin-top: 20px;
}
.social-logo {
	height: 70px;
	margin-left: 2%;
	margin-right: 2%;
	margin-top: 35px;
}

#footer-column {
	background-color: #132743;
	color: #f8efd4;
	padding-top: 20px;
	padding-bottom: 5px;
	margin-top: 50px;
}
#footer-text {font-family: 'Bebas Neue', cursive;}



/* EXTRA SMALL SCREEN */
@media only screen and (max-width: 576px){
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}

	h1 {font-size: 25px;}

	#navbar-column {box-shadow: 8px 12px 5px #132743;}
	
	h1 {text-shadow: 8px 8px 5px #132743;}

	#image-card {
		background-position: center right;
		box-shadow: 12px 12px 5px #132743;
	}

	#about-card {height: 510px;}

	#projects-card {height: 470px;}

	h2 {
		font-size: 30px;
		margin-top: 10px;
		margin-left: 15px;
	}

	.list-1 {margin-left: 80px;}
	.list-2 {margin-left: 80px;}

	.contact-headers {
		font-size: 15px;
		margin-left: 0;
		margin-top: 30px;
	}
	.social-logo {height: 80px;}
}

/* SMALL SCREEN */
@media only screen and (min-width: 577px) and (max-width: 768px){
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		font-size: 20px;
	}

	#name-anchor {font-size: 40px;}

	#projects-card {height: 930px;}

	#capstone1 {height: 250px;}
	#capstone2 {height: 250px;}
	#capstone3 {height: 250px;}

	.contact-headers {
		font-size: 16px;
		margin-top: 40px;
	}

}

/* MEDIUM SCREEN */
@media only screen and (min-width: 769px) and (max-width: 992px){
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}

	#image-card {height: 410px;}

	#about-card {height: 410px;}

	#projects-card {height: 500px;}

	#capstone1 {height: 180px;}
	#capstone2 {height: 180px;}
	#capstone3 {height: 180px;}

	h2 {
		font-size: 40px;
		margin-top: 10px;
		margin-left: 15px;
	}

	.list-1 {margin-left: 40px;}
	.list-2 {margin-left: 15px;}

	.contact-headers {
		font-size: 18px;
		margin-top: 50px;
	}
	.social-logo {height: 80px;}

}

/* LARGE SCREEN */
@media only screen and (min-width: 993px) and (max-width: 1200px){
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}

	#image-card {height: 420px;}

	#about-card {height: 420px;}

	#projects-card {height: 400px;}

	#capstone1 {height: 250px;}
	#capstone2 {height: 250px;}
	#capstone3 {height: 250px;}

	.contact-headers {
		font-size: 18px;
		margin-left: 20px;
		margin-top: 20px;
	}
	.social-logo {
		height: 55px;
		margin-top: 50px;
	}
}